html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.center {
  text-align: center; }

.title {
  color: #ff3d00; }

.content {
  color: #4caf50;
  font-size: 1.2rem; }
