html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/*TODO: add actual url to image*/
body {
  font-family: "Roboto", sans-serif; }

.center {
  text-align: center; }

.title {
  color: #ff6a00; }

.content {
  color: #4caf50;
  font-size: 1.2rem; }
