// imports partial scss files
@import 'reset';
@import "fonts";
@import "variables";
@import "mixins";

body {
  font-family: $font-stack;
}

.center {
  text-align: center;
}

.title {
  color: $colorPrimary;
}

.content {
  color: $colorSecondary;
  font-size: 1.2rem;
}