html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/*TODO: add actual url to image*/
body {
  font-family: "Roboto", sans-serif; }

.center {
  text-align: center; }

.title {
  color: #ff6a00; }

.content {
  color: #4caf50;
  font-size: 1.2rem; }

.form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #ffffff;
  width: 50rem;
  background-color: #4caf50;
  border-radius: 1rem;
  display: inline-block;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .form-container {
    width: 38rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center; }
  .form-fields {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    position: relative; }
    .form-fields a {
      color: #ffffff;
      font-size: 1.8rem;
      text-decoration: none; }
    .form-fields span {
      color: #ff6a00; }

.icon {
  position: absolute;
  padding: 1.7rem 0 0 2.5rem;
  font-size: 2.2rem; }

h1 {
  margin: 0;
  font-size: 3.6rem;
  text-align: center; }

.checkbox {
  font-size: 2.5rem; }

.checkbox-agree {
  font-size: 1.8rem; }

.form-text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.6rem; }
