
@import '../../../styles/index';


.form{
  font-family: $font-primary-stack;
  color: #ffffff;
  width:58rem;
  background-color: $colorSecondary;
  border-radius: 1rem;
  display: inline-block;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &-container{
    width: 38rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: center;
  }

  &-fields{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    position: relative;

    & a{
      color: #ffffff;
      font-size: 1.8rem;
      text-decoration: none;
    }

    & span{
      color: $colorPrimary;
    }
  }
}
.icon{
  position: absolute;
  padding: 1.7rem 0 0 2.5rem;
  font-size: 2.2rem;
}
h1{
  font-size: 3.6rem;
  text-align: center;
}
.checkbox{
  font-size: 2.5rem;
}
.checkbox-agree{
  font-size: 1.8rem;
}
.form-text{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.6rem;
}
