//html{
//  font-size: 10px;
//}
.form-input{
  //width:100%;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 1.9rem;
  padding-top: 1.9rem;
  border-radius: 5rem;
  border: none;
  outline: none;
}
