html{
    font-size: 10px;
}
.form-submit{
    padding-left: 10.6rem;
    padding-right: 10.6rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 5rem;
    border: none;
    background-color: #ff6a00;
    font-size: 2.4rem;
    color:#ffffff;
    outline: none;
}

.form-submit:hover{
    color: #ff9900;
}
